# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.venv/
venv/
env/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Distribución / empaquetado
build/
dist/

# Variables de entorno
.env

# Docker
*.log

# Editores / IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
